
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      // Allow public read access for approved profiles
      allow read: if resource.data.profileStatus == 'approved';
      
      // Allow authenticated users to read their own data, and any authenticated user to read any profile
      allow read: if request.auth != null;
        
      // Allow authenticated users to write to their own profile,
      // and allow any authenticated user to update any profile (for admin actions)
      allow write: if request.auth != null;
    }
  }
}
